<h1>My Lists</h1>

<div class="cards">

<% @lists.each do |list| %>
<div class="card-movie">
<img src="https://www.gannett-cdn.com/presto/2020/12/09/PAPP/0fc3bd25-b47d-4dac-aad0-d5250e83929e-D5B_Unit_18044RC.jpg?crop=4481,2521,x9,y0&width=3200&height=1801&format=pjpg&auto=webp" alt="tbc">
<%= list.name %>
<br><%= link_to "View list", list_path(list)  %>
</div>
<% end %>


</div>




<button type="button" class="btn btn-success"><%= link_to "Create new movie list", new_list_path %>
</button>
